@using VirusWar.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<script src="@(Settings.DevServerRoot)/main.bundle.js"></script>
</body>
</html>
